.App {
  text-align: center;
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.PellaMap {
  width: 65%;
  height: 100vh;
}

.PellaMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 21px;
  background: red;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  top: -20;
  left: -30;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 35%;
}

.ControlPanel {
  background: lightgray;
  border-bottom: 1px solid black;
  width: 100%;
}

.BranchFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.BranchFilter > button {
  height: 100%;
  margin-right: .5rem;
  font-size: 1rem;
}
.BranchFilter > button:last-child {
  margin-right: 0;
}

.BranchFilter > .selected {
  background: blue;
  color: white;
}

.instruction {
  margin: .5rem;
}

.pella-datepicker {
  width: 250px;
  height: 30px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 1rem;
}

.EventInfo {
  padding: 0;
}

.EventItem {
  text-align: left;
  font-size: 1rem;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.EventItem > p {
  margin-bottom: .5rem;
  margin-top: 0;
}

.event__address {
  font-size: 1.2rem;
}
.event__status {
  font-size: 1.2rem;
}

.event__status--scheduled {
  color: green;
}
.event__status--other {
  color: brown;
}
.event__net-price {
  font-size: 1rem;
}

.event__times > span,
.event__installer > span,
.event__sales-rep > span,
.event__customer > span,
.event__phone > span,
.event__email > span,
.event__net-price > span,
.event__order > span {
  font-weight: bold;
}
